button {
    color: red;
    background-color: black;
    font-size: 30px;
    cursor: pointer;
    justify-content: center; 
    align-items: center; 
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: gray;
}