{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>プロフィール</title>
    <link rel="stylesheet" href="{% static 'teamapp/bio.css' %}">
</head>
<body>
    <div class="profile-container">
        <img src="/api/placeholder/200/200" alt="プロフィール画像" class="profile-image">
        <a href="{% url 'bio_edit' %}">編集する</a>
        <h2>ユーザー名：{{ username }}</h1>
        <p>学籍番号：{{ studentid }}</p>
        
        <h2>自己紹介</h2>
        <p>
            {{ profile.self_info }}
        </p>
        
        <h2>パーソナリティ</h2>
        <p>
            MBTI: {{ profile.mbti }}<br>
        </p>
        
        <h2>趣味・関心</h2>
        {{ profile.hobby }}

        <h2>好きなこと</h2>
        <p>
            {{ profile.fav }}
        </p>
    </div>
</body>
</html>