{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>投稿画面</title>
    <script type="text/javascript" src="{% static 'teamapp/js/sistem.js' %}" ></script>
    <style type="text/css"></style>
    <link rel="stylesheet" href="{% static 'teamapp/detailscreen.css' %}">
  </head>
  <body>
    <h1></h1>
    <br>
 
    <br>
    <br>

    <form action="{% url 'index' %}" method="post">
      {% csrf_token %}
      
      <!-- Title と Text をまとめた枠 -->
      <div class="form-wrapper">
        <div>
          
          <label for="titleInput">タイトル</label>
          <input id="titleInput" name="title" type="text" placeholder="ここに入力">
        </div>
        <div>
          <label for="textInput">テキスト</label>
          <textarea id="textInput" name="text" rows="3" placeholder=""></textarea>
        </div>
      </div>
      
      <!-- Submit ボタン -->
      <div class="button-wrapper">
        <button type="submit">投稿</button>
      </div>
    </form>
    
    


    <!--以下保留
    
       <form action="{% url 'detailscreen' %}" method="post">
      {% csrf_token %}
      <div>
        <label for="titleInput">Title</label><br>
        <input id="titleInput" name="title" type="text" placeholder="Input title">
      </div>
      <div>
        <label for="textInput">Text</label><br>
        <textarea id="textInput" name="text" rows="3"></textarea>
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
      
    </form>

    <br>
    <div>
      <a href="{% url 'detailscreen' %}?sort=data">最新</a>
      <a href="{% url 'detailscreen' %}?sort=like">いいね順</a>
    </div>

    {% if articles %}
      {% for article in articles %}
      <div class="text">
        <h2><a href="{% url 'detail' article.id %}">{{article.title}}</a><h2>
        <small>[{{ article.posted_at }}]</small>
        <div>
          <a href="#"onclick="like({{article.id}});">
            Like: <span id="like{{article.id}}">{{ article.like }}</span>
          </a>
        </div>
        <div>
          {{article.body|linebreaksbr}}
        </div>
      </div>
      {% endfor %}    
    {% else %}
    <p>No article.</p>
    {% endif %}    
    </div>
    
    
    
    
    -->

    
        

  </body>
</html>
