{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ホーム</title>
    <script type="text/javascript" src="{% static 'teamapp/js/sistem.js' %}" ></script>
    <style type="text/css"></style>
    <link rel="stylesheet" href="{% static 'teamapp/home_screen.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <!--移行した。元のコードと位置。
    <h1>Django Sample Application</h1>
    <p>You can submit articles from the following form.</p>
    <form action="{% url 'index' %}" method="post">
      {% csrf_token %}
      <div>
        <label for="titleInput">Title</label><br>
        <input id="titleInput" name="title" type="text" placeholder="Input title">
      </div>
      <div>
        <label for="textInput">Text</label><br>
        <textarea id="textInput" name="text" rows="3"></textarea>
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
      
    </form>

    <a href="{% url 'title' %}?next={{ 'index' }}">ログイン</a>

    <br>
    <div>
      <a href="{% url 'index' %}?sort=data">最新</a>
      <a href="{% url 'index' %}?sort=like">いいね順</a>
    </div>

    {% if articles %}
      {% for article in articles %}
      <div class="text">
        <h2><a href="{% url 'detail' article.id %}">{{article.title}}</a><h2>
        <small>[{{ article.posted_at }}]</small>
        <div>
          <a href="#"onclick="like({{article.id}});">
            Like: <span id="like{{article.id}}">{{ article.like }}</span>
          </a>
        </div>
        <div>
          {{article.body|linebreaksbr}}
        </div>
      </div>
      {% endfor %}    
    {% else %}
    <p>No article.</p>
    {% endif %}   
      --> 
        
      <h1>Django Sample Application</h1>
    <div style="text-align: center;">
    <img src="{% static 'teamapp/images/img_20241213_161452.jpg' %}" alt="Uploaded Image" width: 500px; height= 500px;>

    <!-- 画像のリンク
    <a href="{% url 'bio' %}">
    <img src="{% static 'teamapp\images\スクリーンショット 2024-12-24 041202.png' %}" alt="Screenshot" width: 50px; height= 50px;>
  </a>
  
    <img src="{% static 'teamapp\images\スクリーンショット 2024-12-24 041538.png' %}" alt="Screenshot" width: 50px; height= 50px;>
  
    <img src="{% static 'teamapp\images\スクリーンショット 2024-12-24 041952.png' %}" alt="Screenshot" width: 50px; height= 50px;>
    <a href="{% url 'detailscreen' %}">
    <img src="{% static 'teamapp\images\スクリーンショット 2024-12-24 042312.png' %}" alt="Screenshot" width: 50px; height= 50px;>
  </a>
    <a href="{% url 'title' %}">
    <img src="{% static 'teamapp\images\スクリーンショット 2024-12-24 042329.png' %}" alt="Screenshot" width: 50px; height= 50px;>
  </a>
    </div>
    -->
    
        
    <div class="app">
      <div class="header"><h2>ヘッダー（このwebアプリの名前等）</h2></div>
      <div class="main">
        <div class="sidebar"> 
                <!--
          <br><br> <a href="{% url 'bio' %}">プロフィール</a>
          <br><br><a href="{% url 'detailscreen' %}">投稿画面</a>
          <br><br><a href="{% url 'title' %}">リログイン/アカウント作成</a>
          <br><br><p>通知</p><br><p>設定</p> --> 
          
          <br><br>
          <div class="accordion">
            <div class="accordion-bar">
              <a href="{% url 'bio' %}">
                <img src="{% static 'teamapp\images\スクリーンショット 2024-12-24 041202.png' %}" alt="Screenshot" width: 50px; height= 50px;>
              </a>
            </div>
            <div class="accordion-content">
                プロフィール
            </div>
        </div>
        <br>
        <div class="accordion">
            <div class="accordion-bar">
              <a href="{% url 'title' %}">
                <img src="{% static 'teamapp\images\スクリーンショット 2024-12-24 042329.png' %}" alt="Screenshot" width: 50px; height= 50px;>
              </a>
            </div>
            <div class="accordion-content">
              リログイン/アカウント作成
            </div>
        </div>
        <div class="accordion">
          <div class="accordion-bar">
            <a href="{% url 'detailscreen' %}">
              <img src="{% static 'teamapp\images\スクリーンショット 2024-12-24 042312.png' %}" alt="Screenshot" width: 50px; height= 50px;>
            </a>
          </div>
          <div class="accordion-content">
            投稿画面
          </div>
      </div>
        <div class="accordion">
          <div class="accordion-bar">N</div>
          <div class="accordion-content">
              通知 (未完成)
          </div>
      </div>
      <div class="accordion">
        <div class="accordion-bar">S</div>
        <div class="accordion-content">
            設定 (未完成)
        </div>
    </div>




        </div>
        <div class="content">
          <div class="flex-content">
                      <!--一旦非表示
            <div>
            <label for="textInput">Title</label>
            <input id="titileInput" name="title" type="text" placeholder="Input title">
            </div>
            <div>
              <label for="textInput">Text</label><br>
              <textarea id="textInput" name="text" rows="3"></textarea>
            </div>
            <div>
              <button type="submit">Submit</button>
            </div>
            <div>
            -->
              <h1>検索機能</h1>
              <input type="text" id="serchBox" placeholder="キーワードを入力してください">
              <input type="button" value="検索" onclick="search()">
              <div class="results" id="results"
                <!-- 検索結果がここに表示されます -->
              </div>
              <br>
              <div>
                <a href="{% url 'index' %}?sort=data">最新</a>
                <a href="{% url 'index' %}?sort=like">いいね順</a>
              </div>
              <br>
              <div class="box-container">
                {% if articles %}
                  {% for article in articles %}
                  <div class="box2">
                    <div class="text">
                      <h2><a href="{% url 'detail' article.id %}">{{ article.title }}</a></h2>
                      <small>[{{ article.posted_at }}]</small>
                      <div>
                        <a href="#" onclick="like({{ article.id }});">
                          Like: <span id="like{{ article.id }}">{{ article.like }}</span>
                        </a>
                      </div>
                      <div>
                        {{ article.body|linebreaksbr }}
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                {% else %}
                  <div class="box2">
                    <p>No article.</p>
                  </div>
                {% endif %}
                
                <!-- 以下はその他のボックスが続く -->
                <div class="box2"> </div>
                <div class="box2"> </div>
              </div>
              <div class="box-container">
                <div class="box3">（ポスト内容掲示）</div>
                <div class="box3"> </div>
                <div class="box3"> </div>
                <div class="box3"> </div>
              </div>
              <div class="fixed-content">コンテンツ2（広告スペース等）</div>
        </div>
      </div>
    </div>
  </body>
</html>