{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" href="{% static 'teamapp/login_home.css' %}">
    </head>
    <body>
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <label for="studentid">学籍番号:</label>
            <input type="text" id="studentid" name="studentid" required>
            
            <label for="username">ユーザー名:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="userpassword">パスワード:</label>
            <input type="password" id="password" name="password" required>
            
            <input type="submit" value="ログイン">
            <input type="hidden" name="next" value="{{ next }}"> 
            <a href="{% url 'create' %}">アカウント作成</a>
        </form>
        
        <a href="{% url 'index' %}">トップ</a>
    </body>
</html>
