<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <label for="studentid">学籍番号:</label>
            <input type="text" id="studentid" name="studentid" required>
            <br>
            <label for="username">ユーザー名:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">パスワード:</label>
            <input type="password" id="password" name="password" required>
            <br>

            <input type="submit" value="ログイン">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
        <a href="{% url 'create' %}">アカウント作成</a>
    </body>
</html>
